<span class="medicine-card__marker"></span>

<div class="medicine-card__modal">
    <div class="medicine-card__line"></div>
    <div class="medicine-card__scroll">
        <div class="medicine-card__title lighthaus">Пульсомер </div>
        <div class="medicine-card__desc">
            SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии. SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии.
        </div>
    </div>
</div>