@import "../vars.scss";
.breadcrumbs {
    margin-top: 35px;
    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        position: relative;
        font-weight: 400;
        display: inline;
        &:not(:first-child) {
            margin-left: 24px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 3px;
                height: 3px;
                background: #C4C4C4;
                border-radius: 1px;
                transform: rotate(-45deg);
                top: 7px;
                right: 100%;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .breadcrumbs {
        margin-top: 20px;
    }
}