@import "../vars.scss";
.contacts--page {
    @media screen and (min-width: 1200px) {
        padding-top: 60px;
    }
    margin-top: 17px;
    border-top: 1px solid #F0F0F0;
    .contacts {
        &__inner {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            gap: unset;
            padding-bottom: 18px;
        }
        &__btn {
            margin: 42px 0 0 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .contacts--page {
        .contacts {
            &__inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
            &__btn {
                position: static;
                transform: unset;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts--page {
        .contacts {
            &__inner {
                grid-template-columns: 1fr;
            }
            &__btn {
                margin-top: 20px;
            }
        }
    }
}