<div class="qa-card__show">
    <div class="qa-card__title lighthaus">@@title</div>
    <button class="qa-card__btn">
        <svg width="21" height="10" viewBox="0 0 21 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.3889 5.38891C20.6037 5.17412 20.6037 4.82588 20.3889 4.61109L16.8887 1.11091C16.6739 0.896124 16.3257 0.896124 16.1109 1.11091C15.8961 1.3257 15.8961 1.67394 16.1109 1.88873L19.2222 5L16.1109 8.11127C15.8961 8.32606 15.8961 8.6743 16.1109 8.88909C16.3257 9.10388 16.6739 9.10388 16.8887 8.88909L20.3889 5.38891ZM0 5.55L20 5.55V4.45L0 4.45L0 5.55Z" fill="black"/>
        </svg>
    </button>
</div>

<div class="qa-card__hidden">
    SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии. Изделия ACCUNIQ предназначены для измерения и анализа общих показателей здоровья человека. Многочастотные анализаторы состава тела, в которых
    используется инновационная технология BIA (анализа биоэлектрического импеданса) с использованием 8 электродов, позволяет проводить абсолютно точные измерения, определить самые проблемные зоны.
</div>