<div class="catalog-gallery">
    <div class="catalog-gallery__small">
        <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/catalog-item.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="img/catalog-item2.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="img/catalog-item3.webp" />
                </div>
                <div class="swiper-slide catalog-gallery__video">
                    <img src="img/catalog-item4.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="img/catalog-item5.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="img/catalog-item6.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="img/catalog-item7.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="img/catalog-item.webp" />
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.70711 0.292893C8.31658 -0.097631 7.68342 -0.097631 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 2L9 1L7 1L7 2L9 2Z" fill="#D9D9D9"/>
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.29289 8.70711C7.68342 9.09763 8.31658 9.09763 8.70711 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928932C14.6805 0.538408 14.0474 0.538408 13.6569 0.928932L8 6.58579L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L7.29289 8.70711ZM7 7L7 8L9 8L9 7L7 7Z" fill="#D9D9D9"/>
            </svg>
        </div>
    </div>
    <div class="catalog-gallery__big">
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item.webp'>
                        <img src="img/catalog-item.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item2.webp'>
                        <img src="img/catalog-item2.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item3.webp'>
                        <img src="img/catalog-item3.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="catalog-gallery__video" href="#myVideo" data-video-src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.mp4" data-fancybox>
                        <img src="img/catalog-item4.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item5.webp'>
                        <img src="img/catalog-item5.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item6.webp'>
                        <img src="img/catalog-item6.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item7.webp'>
                        <img src="img/catalog-item7.webp" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a data-fancybox='gallery' href='img/catalog-item.webp'>
                        <img src="img/catalog-item.webp" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>