<div class="catalog-item__props">
    <div class="catalog-item__subtitle lighthaus">характеристики: </div>
    <div class="catalog-item__props-items">
        <div class="catalog-item__props-item">
            <div class="catalog-item__props-title">
                <span>Диапазон</span>
            </div>
            <div class="catalog-item__props-desc">1, 5, 50, 250, 550, 1000 кГц</div>
        </div>
        <div class="catalog-item__props-item">
            <div class="catalog-item__props-title">
                <span>Метод</span>
            </div>
            <div class="catalog-item__props-desc">Биоимпедансометрия</div>
        </div>
        <div class="catalog-item__props-item">
            <div class="catalog-item__props-title">
                <span>Анализ</span>
            </div>
            <div class="catalog-item__props-desc">8 параметров состава тела</div>
        </div>
        <div class="catalog-item__props-item">
            <div class="catalog-item__props-title">
                <span>Время измерения</span>
            </div>
            <div class="catalog-item__props-desc">1 минута</div>
        </div>
    </div>
</div>