<div class='container'>
    <div class='advantages__inner'>
        <div class="advantages__left">
            <div class="advantages__text">
                <div class="advantages__title display2 lighthaus">Преимущества ACCUNIQ</div>
                <div class="advantages__desc">SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии. Изделия ACCUNIQ предназначены для измерения и анализа общих показателей здоровья человека. Многочастотные анализаторы состава
                    тела, в которых используется инновационная технология BIA (анализа биоэлектрического импеданса) с использованием 8 электродов, позволяет проводить абсолютно точные измерения, определить самые проблемные</div>
            </div>
            <div class="advantages__img">
                <img src="img/advantages.png" alt="">
            </div>
        </div>
        <div class="advantages__right lighthaus">
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="img/advantages-icon.svg" alt="">
                </div>
                <div class="advantages__item-title">Анализ всего тела за 1 минуту</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="img/advantages-icon2.svg" alt="">
                </div>
                <div class="advantages__item-title">Подлинный результат (без преувеличений)</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="img/advantages-icon3.svg" alt="">
                </div>
                <div class="advantages__item-title">Без расходных материалов</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="img/advantages-icon4.svg" alt="">
                </div>
                <div class="advantages__item-title">Одобрено Росздравнадзором</div>
            </div>
        </div>
    </div>
</div>