<div class='container'>
    <div class='effectivity__top'>
        <div class="effectivity__title display2 lighthaus effectivity__col1">Доказанная эффективность</div>
        <div class="effectivity__by effectivity__col2">
            <a class="effectivity__by-doc" data-fancybox='gallery' href='img/doc.webp'>
                <img src="img/doc.webp" alt="">
            </a>
            <div class="effectivity__by-info">
                <img src="img/russia.webp" alt="">
                <a href="" class="effectivity__by-title lighthaus">Одобренно <br> росздравнадзором</a>
            </div>
        </div>
    </div>

    <div class="effectivity__groups">
        <div class="effectivity__info">
            <div class="effectivity__img effectivity__col1">
                <img src="img/effectivity4.webp" alt="">
            </div>
            <div class="effectivity__text effectivity__col2">
                <div class="effectivity__subtitle lighthaus">Изделия ACCUNIQ сертифицированы для использования в медучреждениях</div>
                <div class="effectivity__desc">
                    <p>SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии. Изделия ACCUNIQ предназначены для измерения и анализа общих показателей здоровья человека. Многочастотные анализаторы
                        состава тела, в которых используется инновационная технология BIA (анализа биоэлектрического импеданса) с использованием 8 электродов, позволяет проводить абсолютно точные измерения, определить самые проблемные места и уделить
                        им особое внимание при планировании физических нагрузок.</p>
                    <p>Инновационные и легкие в использовании сфигмоманометры ACCUNIQ обеспечивает быстрые и точные результаты при измерении артериального давления.</p>
                    <p>Сегодня эти изделия нашли своё применение в больницах, медицинских учреждениях, диагностических и реабилитационных центрах, фитнес центрах, спа-салонах и коммерческих структурах. Во всем мире их успешно и продуктивно используют специалисты
                        в области здравоохранения.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="effectivity__items">
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon.webp);"></div>
            <div class="effectivity__item-title">Obtained CE</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon2.webp);"></div>
            <div class="effectivity__item-title">USA patent</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon3.webp);"></div>
            <div class="effectivity__item-title">EU patent</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon4.webp);"></div>
            <div class="effectivity__item-title">China patent</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon5.webp);"></div>
            <div class="effectivity__item-title">Korea patent</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon6.webp);"></div>
            <div class="effectivity__item-title">FDA certification</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon7.webp);"></div>
            <div class="effectivity__item-title">ISO13485 <br> acquision
            </div>
        </div>
        <div class="effectivity__item effectivity__item--big">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon8.webp);"></div>
            <div class="effectivity__item-title">TUV certification </div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon9.webp);"></div>
            <div class="effectivity__item-title">Korea Testing Laboratory certification </div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon10.webp);"></div>
            <div class="effectivity__item-title">GMP certification </div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon11.webp);"></div>
            <div class="effectivity__item-title">World-class <br> Product Award</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon12.webp);"></div>
            <div class="effectivity__item-title">Presidents Award</div>
        </div>
        <div class="effectivity__item">
            <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon13.webp);"></div>
            <div class="effectivity__item-title">Dongtan <br> Industrial Medal</div>
        </div>
    </div>
</div>