<div class='container'>
    <div class='effectivity__top'>
        <div class="effectivity__title display2 lighthaus effectivity__col1">Доказанная эффективность</div>
        <a data-fancybox='gallery' href='img/doc22.png' class="effectivity__by effectivity__col2">
            <div class="effectivity__by-doc">
                <img src="img/doc.webp" alt="">
                <span class="effectivity__by-doc-icon">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4562 15.4843L12.4102 11.2762C13.4505 10.0396 14.0205 8.48359 14.0205 6.86374C14.0205 3.07913 10.9413 0 7.15671 0C3.3721 0 0.292969 3.07913 0.292969 6.86374C0.292969 10.6484 3.3721 13.7275 7.15671 13.7275C8.5775 13.7275 9.93145 13.299 11.089 12.4854L15.1658 16.7255C15.3362 16.9024 15.5654 17 15.811 17C16.0435 17 16.264 16.9114 16.4314 16.7502C16.7871 16.4079 16.7985 15.8403 16.4562 15.4843ZM7.15671 1.79054C9.95413 1.79054 12.2299 4.06632 12.2299 6.86374C12.2299 9.66117 9.95413 11.9369 7.15671 11.9369C4.35929 11.9369 2.08351 9.66117 2.08351 6.86374C2.08351 4.06632 4.35929 1.79054 7.15671 1.79054Z" fill="white"></path>
                    </svg>
                 </span>
            </div>
            <div class="effectivity__by-info">
                <img src="img/russia.webp" alt="">
                <div class="effectivity__by-title lighthaus">Одобренно <br> росздравнадзором</div>
            </div>
        </a>
    </div>

    <div class="effectivity__groups">
        <div class="effectivity__info">
            <div class="effectivity__img effectivity__col1">
                <img src="img/effectivity4.webp" alt="">
            </div>
            <div class="effectivity__text effectivity__col2">
                <div class="effectivity__subtitle lighthaus">Изделия ACCUNIQ сертифицированы для использования в медучреждениях</div>
                <div class="effectivity__desc">
                    <p>SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии. Изделия ACCUNIQ предназначены для измерения и анализа общих показателей здоровья человека. Многочастотные анализаторы
                        состава тела, в которых используется инновационная технология BIA (анализа биоэлектрического импеданса) с использованием 8 электродов, позволяет проводить абсолютно точные измерения, определить самые проблемные места и уделить
                        им особое внимание при планировании физических нагрузок.</p>
                    <p>Инновационные и легкие в использовании сфигмоманометры ACCUNIQ обеспечивает быстрые и точные результаты при измерении артериального давления.</p>
                    <p>Сегодня эти изделия нашли своё применение в больницах, медицинских учреждениях, диагностических и реабилитационных центрах, фитнес центрах, спа-салонах и коммерческих структурах. Во всем мире их успешно и продуктивно используют специалисты
                        в области здравоохранения.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="effectivity__slider">
        <div class="effectivity__items">
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon.webp);"></div>
                <div class="effectivity__item-title">Obtained CE</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon2.webp);"></div>
                <div class="effectivity__item-title">USA patent</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon3.webp);"></div>
                <div class="effectivity__item-title">EU patent</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon4.webp);"></div>
                <div class="effectivity__item-title">China patent</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon5.webp);"></div>
                <div class="effectivity__item-title">Korea patent</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon6.webp);"></div>
                <div class="effectivity__item-title">FDA certification</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon7.webp);"></div>
                <div class="effectivity__item-title">ISO13485 <br> acquision
                </div>
            </div>
            <div class="effectivity__item effectivity__item--big">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon8.webp);"></div>
                <div class="effectivity__item-title">TUV certification </div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon9.webp);"></div>
                <div class="effectivity__item-title">Korea Testing Laboratory certification </div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon10.webp);"></div>
                <div class="effectivity__item-title">GMP certification </div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon11.webp);"></div>
                <div class="effectivity__item-title">World-class <br> Product Award</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon12.webp);"></div>
                <div class="effectivity__item-title">Presidents Award</div>
            </div>
            <div class="effectivity__item">
                <div class="effectivity__item-icon" style="background-image: url(img/effectivity-icon13.webp);"></div>
                <div class="effectivity__item-title">Dongtan <br> Industrial Medal</div>
            </div>
        </div>
    </div>


</div>