<div class='container'>
    <div class="props__title display2 lighthaus">Технические характеристики ACCUNIQ BC380</div>
    <div class='props__items'>
        <div class="props__item">
            <div class="props__item-title">1. Экран</div>
            <div class="props__item-desc">8,4-дюймовый цветной ЖК-дисплей с сенсорным экраном;</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">2. Частоты</div>
            <div class="props__item-desc">Используются шесть частот: 1, 5, 50, 250, 550, 1000 кГц;</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">3. Поддерживает</div>
            <div class="props__item-desc">Поддержка педиатрического режима;</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">4. Показатели</div>
            <div class="props__item-desc">Данные сегментного анализа соотношения внеклеточной воды/общего содержания воды и сегментный анализ соотношения внеклеточной жидкости/общего содержания жидкости;</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">5. Результаты</div>
            <div class="props__item-desc">Сохранение до 100 000 результатов анализа, которые можно извлечь по идентификационному номеру;</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">6. Программы</div>
            <div class="props__item-desc">Предусмотрена пользовательская контролирующая программа (ACCUNIQ MANAGER);</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">7. Анализ</div>
            <div class="props__item-desc">Анализ состава тела (включает восемь предыдущих анализов для отслеживания прогресса у клиента);</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">8. Порты:</div>
            <div class="props__item-desc">Порты USB и RS232 для подключения компьютера или принтера;</div>
        </div>
        <div class="props__item">
            <div class="props__item-title">9. Соединение</div>
            <div class="props__item-desc">Дополнительное беспроводное соединение через Bluetoot</div>
        </div>
    </div>
</div>