<div class='container'>
    <h2 class="seo__title display2 lighthaus">@@title</h2>
    <div class='seo__inner'>
        <div class="seo__col">
            <p>SELVAS Healthcare (Южная Корея) — компания мирового уровня, разрабатывающая самые передовые медицинские технологии. Изделия ACCUNIQ предназначены для измерения и анализа общих показателей здоровья человека. Многочастотные анализаторы состава
                тела, в которых используется инновационная технология BIA (анализа биоэлектрического импеданса) с использованием 8 электродов, позволяет проводить абсолютно точные измерения.</p>
        </div>
        <div class="seo__col">
            <p>Инновационные и легкие в использовании сфигмоманометры ACCUNIQ обеспечивает быстрые и точные результаты при измерении артериального давления. Сегодня эти изделия нашли своё применение в больницах, медицинских учреждениях, диагностических и реабилитационных
                центрах, фитнес центрах, спа-салонах и коммерческих структурах. Во всем мире их успешно и продуктивно используют специалисты в области здравоохранения.</p>
        </div>
    </div>
</div>